name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Install Flutter (stable channel)
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'   # or 'beta', 'master' if you really want
          cache: true

      - name: Flutter pub get
        run: flutter pub get

      - name: Analyze project source
        run: flutter analyze

      - name: Run tests
        run: flutter test
